.env

auth-service/src/main/resources/*.key
auth-service/src/main/resources/*.pub

*.pub
*.key

auth-service/target/
auth-service/target/*
auth-service/.idea

core-service/.graddle
core-service/build
core-service/.idea
